.Container{
    display: grid;
    grid-template-columns: max-content;
    justify-content: space-around;
  
    
   overflow: scroll;
   
  
   height: 80%;
   
   padding-bottom: 500px;

   
 
}
.filterContainer {
    position: fixed;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,15rem));
    grid-gap: 20px;
    background-color: rgba(117, 185, 187, 0.219);
    justify-content:center;
    align-items: center;
    
width: 100%;
height: 70px;

top: 80px;
z-index: 5;


    
    margin-bottom: -50px;
    
}

.cards {
    margin: 0 auto;
    position: relative;
    top: 150px;
    width: 100vw;
}

