

.container {
   
   
    display: flex;
    gap: 1rem;
    align-items:center;
    justify-content: center;

    
    

    
}

.page {
    font-family: "Poppins", sans-serif;
    font-size: large;
    background-color: #ffffff;
    border-radius: 0.2rem;
    border:solid grey 1px;
    color: #000000;
    align-items: center;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
  

}

.active {
    font-family: "Poppins", sans-serif;
    font-size: large;
    background-color: #ff6600;
    border-radius: 0.2rem;
    border:solid grey 1px;
    color: #ffffff;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.page:hover{
    background-color: #ff6600;
    
    transform: scale(1.1);
}

.Previous {
    font-family: "Poppins", sans-serif;
    font-size: large;
    
    color: white;
    padding: 0.5rem 1rem;
	background-color: #ff6600;
    border: none;
    
	
	transition: all 200ms ease;
    

}

.disPrevious {
    font-family: "Poppins", sans-serif;
    font-size: large;
    
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
	background-color: rgb(192, 192, 192);
    border: none;
    
	
	transition: all 200ms ease;
    

}

.Next {
    
    font-family: "Poppins", sans-serif;
    font-size: large;
    width: 88px;
    color: white;
    padding: 0.5rem 1rem;
	background-color: #ff6600;
    border: none;
    right: 20%;
	
	transition: all 200ms ease;
    
}

.disNext {
    
    font-family: "Poppins", sans-serif;
    font-size: large;
    padding: 10;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
	background-color: rgb(192, 192, 192);
    border: none;
    right: 20%;
	
	transition: all 200ms ease;
    
}



	
	.Right:hover {
		background-color: #ff6600;
		
      
	}
	
	
    .Left:hover {
		background-color: #ff6600;
	}